.icon_course-dev_ui {
  height: 32px;
  left: 550px;
  position: absolute;
  top: 16px;
  width: 32px;
}

.icon_menu {
  height: 20px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 20px;
}

